html, body,.App {
  height: 100%;
  margin: 0;
background: #312D3C;}

.grid-container * {
 border-radius: 3px;
 position: relative;
 background: #1E1E25;

}

.grid-container *:after {
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  height: 670px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 9.5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1.3fr 0.7fr 1fr;
  grid-template-areas: "a b c d" "a b c d" "a e e d" "a e e d";
}

.a {
  grid-area: a;
  display: flex;
  flex-direction: column;
}

.b { grid-area: b; }

.c { grid-area: c; }

.d { grid-area: d; }

.e { grid-area: e; }




#top {
  color: white;
  background:#1E1E24;
  margin-right: 10%;
  width: 45%;
  height: 100%;

}

#topa{
padding: 1.5%;
  display: flex;
 flex-wrap: wrap;
  width:100%;
  height: 6.5%;
  padding: auto;
  background-color:#1E1E24;
  border-bottom: .5px solid #2E2B39;
}


hr{
  border :2px solid #2E2B39;
}



.h{
  width: 88%;
  height: 6.5%;
  border-radius:0;
  color: white;
  background: black;
  border: none;
   margin-left: 6%;
   margin-top: 5%;
}

.onoff{
  width: 50%;
  height: 100%;
  border: none;
  background: #0F0F12;
}


.l{
  width: 88%;
  margin-left:7%;
  color: white;
}


input[type=text] {
  width: 100%;
  padding: 2% 3%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #35353B;
  border-radius: 0;
}

input[type=text]:focus {
  border: 3px solid #555;
  background: #35353B;
}

span{
  color: white;
}

.p{
  margin-left: auto;
  margin-right: auto;
}

.info1{
  margin-left: 195px;
}
.info2{

    margin-left: 205px;
}
.info3{

    margin-left: 200px;
}
.disc2{
}


.r{
  color: white;
  width: 100%;
  background-color: #1A1A1F;
  height: 6.5%;
  margin-top: 10%;
  margin-bottom: 5%;
  padding:3% 0 0 5%;
  border-top: .5px solid #2E2B39;
  border-bottom: .5px solid #2E2B39;
}


.table,thead,tr,th{
  color: white;
  font-size: 95%;
  border: none;
  text-align: center;

}

.tog{
  width: 43%;
  height: 80%;
  margin-left: 3px;
  border-radius: 0;
  margin-top: 1.5%;
}


.slide-btn-alt {
  position: relative;
  display: inline-block;
  width: 100%;;
  height: 100%;
  border: none;
}

.slide-btn-alt input {}

.slide-btn-content {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b99d6;
  text-transform:uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.slide-btn-content::before {
  position: absolute;
  content: attr(data-off);
  font: 900 10px/34px 'Montserrat-Bold', sans-serif;
  color: white;
  width: 50%;
  left: 0;
  bottom: 0;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.slide-btn-content::after {
  position: absolute; content: '';
  height: 100%;
  left: 49%;
  bottom: 0;
  border-left: 1px solid rgba(238, 238, 239, 0.2);
}

input:checked + .slide-btn-content {

  background-color: #485679;
}

input:focus + .slide-btn-content {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slide-btn-content::before {
  content: attr(data-on);
  -webkit-transform: translateX(54px);
  -ms-transform: translateX(54px);
  transform: translateX(54px);
}
